    .job-detail-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .job-row {
        display: flex;
        gap: 8px;

        .item {
            flex: 1;
            box-sizing: border-box;
        }
    }


    .job-remote-row {
        display: flex;
        gap: 8px;
    }

    .remote-label {
        margin-right: 8px;
    }

    ::ng-deep .p-dropdown {
        display: flex;
        align-items: center;
    }