.caption {
    font-weight: bold;
    font-size: 24px;
}

.job-row {
    cursor: pointer;
}

.ellipsis-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 250px;
}