<div class="job-detail-card">
    <div class="job-detail-header">
        @if (!editMode()) {
        <h2>{{ job()?.companyName }}</h2>
        }
        @else {
        <p-floatlabel variant="in" class="header-input">
            <input pInputText id="companyName" [formControl]="updateForm.controls.companyName" autocomplete="off" />
            <label for="companyName">Company Name</label>
        </p-floatlabel>

        }
        <div class="job-detail-actions">
            <button pButton type="button" icon="pi pi-pencil" label="{{ editMode() ? 'Cancel' : 'Edit' }}"
                (click)="onEdit()"></button>
            <button pButton type="button" icon="pi pi-trash" label="Delete" severity="danger"
                (click)="onDelete()"></button>
        </div>
    </div>

    @if(!editMode()){
    <div class="job-detail-grid">
        <div class="job-detail-row">
            <label>Position:</label>
            <span>{{ job()?.position }}</span>
        </div>
        <div class="job-detail-row">
            <label>Status:</label>
            <span>{{ getStatusLabel(job()?.status) }}</span>
        </div>
        <div class="job-detail-row">
            <label>Remote:</label>
            <span>{{ job()?.isRemote ? 'Yes' : 'No' }}</span>
        </div>
        <div class="job-detail-row">
            <label>Date Applied:</label>
            <span>{{ job()?.dateApplied | date:'mediumDate' }}</span>
        </div>
        <div class="job-detail-notes">
            <label>Notes:</label>
            <p>{{ job()?.notes || 'None' }}</p>
        </div>
    </div>
    }
    @else {
    <app-job-application-form [form]="updateForm"></app-job-application-form>
    <button pButton type="button" label="Update" class="update-button" (click)="onUpdate()"></button>
    }
</div>

<app-are-you-sure-dialog #areYouSure (confirmed)="onConfirmedDelete()"></app-are-you-sure-dialog>